.banner-clip {
  clip-path: none;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@media screen and (min-width: 1024px) {
  .banner-clip {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 20% 0%);
  }
}

.carousel-item {
  flex-basis: calc(1 / 1.2 * 100%);
}

@media screen and (min-width: 768px) {
  .carousel-item {
    flex-basis: calc(1 / 2 * 100%);
  }
}

@media screen and (min-width: 1024px) {
  .carousel-item {
    flex-basis: calc(1 / 3.1 * 100%);
  }
}
